.Radio{
    width: 20%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: "Montserrat";
    padding: 0.5% 0.5% 0.5% 0.5%;	
}

/* .Radio radio{
    flex:0.9;
    width: 100%;
    padding: 5px;
    border: 2px solid #40404050;
    border-radius: 10px;
    background-color: #d9d9d980;
    font-size: 1rem;
    color: #404040;
} */

.Radio label{
    min-width: 5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #404040;
    display: block;
}

.radioOptions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex:0.9;
    width: 100%;
    padding: 5px;
    color: #404040;
    gap:2%
}

.radioOptions label{
    font-size: 1rem;
    font-weight: 400;
    color: #404040;
}

.radioOptions span{
    display: flex;
    flex-direction: row;
    gap:2%
}
