.ListaAlunos{
    height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.botoes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-block: 2%;
    gap:1%

}

.quantText {
    padding-top: 1.5vw;
}