.header{
    background-color: #002960;
    opacity: 0.8;
    border-bottom: 2px solid #f44336;
    top:0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    width: 100%;
    height: 50px;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.header a{
    text-decoration: none;
    color: #E87722;
    padding-inline: 0.5rem;
    font-size: 1.125rem;
}
