.RaTelCpf{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%
}

.cursoSituacao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}